<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>PASKA - Peli Akronyymien Selittämisestä Komiikan Avulla</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" media="(min-width: 500px)" href="/assets/style.css">
		<link rel="stylesheet" media="(max-width: 499px)" href="/assets/stylemob.css">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	</head>
	<body>
					<div class="page-header">
						<h1>PASKA</h1>
					<h4>Peli Akronyymien Selittämisestä Komiikan Avulla</h4>
					</div>
					<div class="jumbotron puzzlebox"><p class="akro">/aloita : aloita peli, /nick nimi: vaihda nimeä</p></div>
					<div class="timer" align="center"></div>
					<div class="nicks">Käyttäjiä linjoilla: 
					</div>
					<div class="msgs">
					<ul id="viestit"></ul>
					</div>
		<form action="">
			<input id="v" autocomplete="off" /><button type="submit">Puhu paskaa</button>
		</form>


		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="/assets/viewlogic.js"></script>
	</body>
</html>
	