<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> -->
		<title>PASKA - Peli Akronyymien Selittämisestä Komiikan Avulla</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	</head>
	<body>
					<div class="page-header">
						<h1>PASKA</h1>
					<h4>Peli Akronyymien Selittämisestä Komiikan Avulla</h4>
					</div>
					<div class="jumbotron puzzlebox"><p>/aloita : aloita peli, /nick nimi: vaihda nimeä</p></div>
					<div class="timer" align="center"></div>
					<div class="nicks">Käyttäjiä linjoilla: 
					</div>
					<div class="msgs">
					<ul id="viestit"></ul>
					</div>
		<form action="">
			<input id="v" autocomplete="off" /><button type="submit">Puhu paskaa</button>
		</form>


		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		
		<script> 

			

			$( document ).ready(function() {
				var socket = io();

				
				socket.emit('join');

				$('form').submit(function() {

					var data = {msg: $('#v').val()};
					socket.emit('viesti', data);

					$('#v').val('');
					return false; // Estää lomakkeen lähtemisen, eli html-sivu ei refreshaudu.
				});

				socket.on('privaviesti', function(v) {

					$('#viestit').append($('<li class="private">').text(v.username + ": " + v.msg));
					$('.msgs')[0].scrollTop = $('.msgs')[0].scrollHeight;

				});

				socket.on('boldviesti', function(v) {

					$('#viestit').append($('<li class="boldattu">').text(v.username + ": " + v.msg));
					$('.msgs')[0].scrollTop = $('.msgs')[0].scrollHeight;


				});

				socket.on('viesti', function(v) {

					$('#viestit').append($('<li>').text(v.username + ": " + v.msg));
					$('.msgs')[0].scrollTop = $('.msgs')[0].scrollHeight;


				});

				socket.on('akronyymi', function(v) {

					$('.puzzlebox').html('<h2>' + v + "</h2>");
				});

				socket.on('kello', function(v) {

					$('.timer').html('<h3><strong>' + v + '</strong></h3>');
				});

				socket.on('kayttajat', function(v) {

					$('.nicks').html('<strong>Käyttäjiä linjoilla:</strong> ');
					$('.nicks').append(v);
				});

			});

		</script>
	</body>
</html>
	