* { margin: 0; padding: 0; box-sizing: border-box;}
body, html {font-size: 10px; font-family: Gloria Hallelujah, cursive; height: 100%; overflow: hidden; border: solid 1px black;}
form {background: #000; padding: 3px; border-radius: 10px; position: relative; left: 0%; top: 2px; width: 100%;}
form input {border: 0; padding: 10px; width: 80%; margin-right: .5%; font-size: 16px;}
form button {color: white; font-weight: bold; width: 18%; background: darkblue; border: solid 2px darkblue; border-radius: 5px; padding: 10px;}
form button:hover {background: white; color: darkblue;}

#viestit { list-style-type: none; padding: 0; width:100%;}
#viestit li {padding-bottom: 5px}
#viestit li:nth-child(odd) { background: #eee; }

.msgs {

	border: solid 2px black;
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	position: relative;
	top: 1px;
	left: 0%;
	display: block;
	height: 40%;
	overflow-y: hidden;
	
	font-family: courier;
}

.nicks {

	border: solid 2px black;
	border-radius: 10px;
	padding: 2px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	height: 40px;
	overflow: hidden;
	display: block;
}

.page-header {

	margin: 0;
	position: relative; left: 0%; top: 0%; width: 100%;
	text-align: center;
}

h1 {

	font-size: 40px;
}

h4 {

	font-size: 18px;
}

.akro {

	font-size: 10px;
}

.puzzlebox {

	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	height: 11%;
	text-align: center;
	padding: 2px;
	display: block;

}

.timer {

	position: relative;
	height:20px;
	padding: 0;
	bottom: 15px;
	text-align: center;
	display: block;
	font-size: 14px;
	margin: auto;

}

.private {

	font-style: italic;
}

.boldattu {

	font-weight: bold;
}